$font-stack:    'Lato', sans-serif;
$primary-color: #333;
$secondary-color: #E1888A;
$third-color: #4ABFCB;
$button-secondary-border-color:#9E6063;
$primary-bg: rgba(74,191,203,0.6);
$secondary-bg: url("../img/874-goofy-food-blue-iphone-wallpaper copy 2.png");
$third-bg: url("../img/bg-2-2.png");


/* ------------------------------------------- */
/* Mixins
/* ------------------------------------------- */

@mixin transitionDuration ($duration) {
  transition-duration: $duration;
  -webkit-transition-duration: $duration;
}

@mixin easingTimingFunction () {
  -webkit-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  -moz-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  -ms-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940); 
   -o-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940); 
      transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */

  -webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  -ms-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
   -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
      transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}

@mixin bouncyTimingFunction () {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.320, 1.275); 
     -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.320, 1.275); 
      -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.320, 1.275); 
       -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.320, 1.275); 
          transition: all 0 cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */

  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.450, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.450, 1.595); 
     -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.450, 1.595); 
      -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.450, 1.595); 
       -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.450, 1.595); 
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.450, 1.595); /* custom */
}

@mixin easingOutQuadTimingFunction () {
  -webkit-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940); 
     -moz-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940); 
      -ms-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940); 
       -o-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940); 
          transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */

  -webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
     -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
      -ms-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
       -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
          transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}

@mixin transform ($value) {
  transform: $value;
  -ms-transform: $value;
  -webkit-transform: $value;
}

/* ------------------------------------------- */
/* Toggle Fade  
/* ------------------------------------------- */

.toggle {
  @include easingTimingFunction();
  &.ng-enter {
    opacity: 0;
    @include transitionDuration(250ms);
  }

  &.ng-enter-active {
    opacity: 1; 
  }

  &.ng-leave {
    opacity: 1;
    @include transitionDuration(250ms);
  }

  &.ng-leave-active {
    opacity: 0; 
  }

  // Hide
  &.ng-hide-add {
    @include transitionDuration(250ms);
    opacity:1;    
  } 
  &.ng-hide-add.ng-hide-add-active {
    opacity:0;
  }

  // Show
  &.ng-hide-remove {
    @include transitionDuration(250ms);
    display:block!important;
    opacity:0;
  }
  &.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
  }
}


/* ------------------------------------------- */
/* Bouncy Slide Down
/* ------------------------------------------- */

.bouncy-slide-down {
  @include bouncyTimingFunction();

  &.ng-enter {
    @include transform(translateY(-240px));
    @include transitionDuration(250ms);
    opacity: 0;
  }

  &.ng-enter-active {
    @include transform(translateY(0));
    opacity: 1; 
  }

  &.ng-leave {
    @include transform(translateY(0));
    @include transitionDuration(250ms);
    opacity: 1;
  }

  &.ng-leave-active {
    @include transform(translateY(-240px));
    opacity: 0; 
  }

  // Hide
  &.ng-hide-add {
    @include transform(translateY(0));
    @include transitionDuration(250ms);
    opacity:1;    
  } 
  &.ng-hide-add.ng-hide-add-active {
    @include transform(translateY(-240px)); 
    opacity:0;
  }

  // Show
  &.ng-hide-remove {
    @include transform(translateY(-240px)); 
    @include transitionDuration(250ms);
    display:block!important;
    opacity:0;
  }
  &.ng-hide-remove.ng-hide-remove-active {
    @include transform(translateY(0));
    opacity:1;
  }
}


/* ------------------------------------------- */
/* Flip In 
/* ------------------------------------------- */

.flip-in {
  @include easingTimingFunction();

  &.ng-enter {
    @include transform(perspective(300px) rotateX(90deg));
    @include transitionDuration(550ms);
    opacity: 0.7;
  }

  &.ng-enter-active {
    @include transform(perspective(300px) rotateX(0deg));
    opacity: 1; 
  }

  &.ng-leave {
    @include transform(perspective(300px) rotateX(0deg));
    @include transitionDuration(550ms);
    opacity: 1;
  }

  &.ng-leave-active {
    @include transform(perspective(300px) rotateX(135deg)); 
    opacity: 0.7; 
  }

  // Hide
  &.ng-hide-add {
    @include transform(perspective(300px) rotateX(0deg));
    @include transitionDuration(550ms);
    opacity:1;    
  } 
  &.ng-hide-add.ng-hide-add-active {
    @include transform(perspective(300px) rotateX(135deg)); 
    opacity:0;
  }

  // Show
  &.ng-hide-remove {
    @include transform(perspective(300px) rotateX(90deg));
    @include transitionDuration(550ms);
    display:block!important;
    opacity:0;
  }
  &.ng-hide-remove.ng-hide-remove-active {
    @include transform(perspective(300px) rotateX(0deg));
    opacity:1;
  }
}

.slide-top {
  @include easingTimingFunction();
  &.ng-enter {
    @include transform(translateY(60px)); 
    @include transitionDuration(250ms);
    opacity: 0;
  }

  &.ng-enter-active {
    @include transform(translateY(0));
    opacity: 1; 
  }

  &.ng-leave {
    @include transform(translateY(0));
    @include transitionDuration(250ms);
    opacity: 1;
  }

  &.ng-leave-active {
    @include transform(translateY(60px)); 
    opacity: 0; 
  }

  // Hide
  &.ng-hide-add {
    @include transform(translateY(0));
    @include transitionDuration(250ms);
    opacity:1;    
  } 
  &.ng-hide-add.ng-hide-add-active {
    @include transform(translateY(60px)); 
    opacity:0;
  }

  // Show
  &.ng-hide-remove {
    @include transform(translateY(60px)); 
    @include transitionDuration(250ms);
    display:block!important;
    opacity:0;
  }
  &.ng-hide-remove.ng-hide-remove-active {
    @include transform(translateY(0));
    opacity:1;
  }
}


/////////

body{
  background: #fff;
  //background: $secondary-bg;
  background-repeat: repeat;
  background-size: contain;

}


// LOG IN ////////////////////////
.first{
//border: 1px solid black;
height: 100%;
width: 100%;


}
.second{
background-color: rgba(74, 191, 203,0.98);
-webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
-moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);

//border: 1px dotted blue;
height: 100%;
max-height: 500px;
//width: 50%;
max-width: 600px;
min-width: 350px;
margin-top:5%;
}
.appName{
 //border: 2px dotted red;
 height: 75%; 
 max-height:360px;
 min-height: 255px;
 padding:0;
}
.loginBtn{
//something maybe
}
.loginPageBtns{
  height:100%;
  width:100%;
  max-height: 160px;
  min-width:160px;
  padding:0;
  border-radius:0;
  background-color: $secondary-color;
  border-color: $button-secondary-border-color;
  text-align: center; 
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
-moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
}
#loginText{
  line-height: 160px !important;
}
.fbLogin{
  //border: 2px dotted green;
  height: 180px;
}
.quickLogin{
  //border: 2px dotted black;
  height: 180px;
}

// MAIN ///

.firstMain{
//border: 1px solid black;
height: 500px;
}
.secondMain{
//border: 1px dotted blue;
height: 100%;
width: 100%;
//margin-top: 15%;
}
.idcDiv, .ummDiv{
  margin-top: 10%;
  height: 100%;
  max-height: 300px;
}
.mainPageBtns{
  height:100%;
  width:100%;
  max-height: 300px;
  min-width:160px;
  padding:0;
  border-radius:0;
  text-align: center; 
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
  line-height: 160px !important;
}
.mainLineHt{
  margin: 0;
  line-height: 300px;
}
.omgButton{
 // border: 2px dotted red;
 // height: 50%; 
}
.howButton{
  // border: 2px dotted green;
  // height: 50%;
}


// OH ///

.firstOh{
//border: 1px solid black;
height: 700px;
}
.secondOh{
//border: 1px dotted pink;
height: 100%;
width: 75%;
margin-left:12.5%;
// background-color: rgba(74, 191, 203,0.98);
// -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
// -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
// box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);

}

.optionsCol{
  margin-top: 50px;
 //border: 5px dotted black;
  height: 15%; 
  max-height: 160px;
  width: 100%;
  padding-right:5px;
  padding-left: 0;
  //max-width: 485px;
}

.ohBtns{
 // border: 1px dotted red;
 height: 100%; 
 width: 100%;
 border-radius:0;
 max-height: 160px;
  //max-width:160px;
   text-align: center; 
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
  line-height: 160px !important;
}

.placesDiv{
  //border: 2px dotted black;
  height: 85%;
  max-height:450px;
  min-height: 360px;
  padding: 0;
  margin-top: 25px;
}
.placesRowMargin{
  margin: 0;
}
.objDiv{
 // border: 2px dotted green;
  height: 100%;
  margin-top: 10px;
  //max-width: 485;
  //padding-left:0;
}
.placeObjDiv{
  //border: 2px dotted red;
  background-color: #eee;
  height: 240px;
  margin: 10px 0px 10px 0;
  padding:0;
   -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
  position: relative;
}
.mapDiv{
    //border: 2px dotted black;
   height: 100%;
   width: 100%;
   max-height: 180px;
   padding: 0;
  //max-width: 485px;
  //padding-right: 0;
  margin-top: 5px;
}
#map-canvas { 
  //border: 2px dotted yellow;
  //margin-top: 5%;
  height: 100% ;
  width:100%;
  padding: 0;
  //max-height: 300px;
  //max-width: 485px;
 // -webkit-box-shadow: -1px 2px 15px 0px rgba(221,221,221,1);
  // -moz-box-shadow: -1px 2px 15px 0px rgba(221,221,221,1);
  // box-shadow: -1px 2px 15px 0px rgba(221,221,221,1);
}
.placesDataRow{
 // border: 1px dotted black;
  height: 100%;
  margin: 0;
}
.placesContentDiv{
  //border: 2px dotted blue;
  height:100%;
  //max-width: 485px;
}
.placesImgDiv{
  //border: 1px dotted red;
  height: 100%;
}
.placesOtherContentDiv {
  //border: 2px dotted pink;
  height: 100%;
}
.placesNameDiv{
  //border: 1px dotted blue;
  height: 25%;
  max-height: 90px;
  min-height:90px;
}
.detailName{
  //border: 1px dotted red;
  height:100%;
  width:100%;
  margin-top: 10px;
}
.detailAddress{
  //border: 1px dotted yellow;
  font-size: 11px;
}
.detailNumber{
 font-size: 11px;
  //border: 1px dotted pink;
}
.detailWebsite{
  //border: 1px dotted green;
  font-size: 11px;
}

.placesRatingDiv{
  //border: 1px dotted green;
  height: 25%;
  padding:0;
}
.placesVicinityDiv{
  //border: 1px dotted yellow;
  height: 25%;
}
.large{
  width: 150px;
  height: 200px;
}

// ///animate div size ex
// .css-class-add, .css-class-remove {
//   -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
//   -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
//   -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
//   transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
// }

// .css-class,
// .css-class-add.css-class-add-active {
//   height:240px;
//   width: 100%;
//   position: relative;
//   z-index: 1;
//   transition-delay: 1s;
// }

// .css-class-remove.css-class-remove-active {
//   font-size:1.0em;
//   color:black;
// }


// /// show hidden details
// .hidden:hover {
//   transition-delay: 1s;
// }



////// howBout.html ////////

.firstHowBout{
//border: 1px solid black;
height: 100%;
width: 100%;
}
.secondHowBout{
background-color: rgba(74, 191, 203,0.98);
-webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
-moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);

//border: 1px dotted blue;
height: 100%;
max-height: 500px;
//width: 50%;
max-width: 600px;
min-width: 350px;
margin-top:5%;
}
.searchBarDiv{
  //border: 2px solid black;
  height: 100px;
  padding: 0;
}
.searchBar{
  //border: 2px solid red;
  height: 100%;
  width: 100%;
}
 #map {
        border: 1px solid black;
        height: 100%;
        background-color: black;
      }
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  min-height: 32px;
  // height: 100%;
  // width: 100%;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/// rating directive

.rating {
  font-size: 175%;
  padding: 0 0.5em;
}

.rating > a {
  text-decoration: none;
}

.rating .rating-highlight, .rating.rating-highlight:hover {
  color: #F4914E;
}

.rating .rating-normal, .rating.rating-normal:hover {
  color: #3C3C3C;
}






