
$font-stack:    'Lato', sans-serif;
$primary-color: #333;
$secondary-color: #E1888A;
$third-color: #4ABFCB;
$button-secondary-border-color:#9E6063;
$primary-bg: rgba(74,191,203,0.6);
$secondary-bg: url("../img/874-goofy-food-blue-iphone-wallpaper copy 2.png");
$third-bg: url("../img/bg-2-2.png");

body{
   //background-color: black;
  //background: $secondary-bg;
  overflow-x: hidden;
}



// LOG IN ////////////////////////
.first{
//border: 1px solid black;
height: 100%;
width: 100%;


}
.second{

background-color: rgba(74, 191, 203,0.98);
-webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
-moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);

//border: 1px dotted blue;
height: 100%;
max-height: 500px;
//width: 50%;
max-width: 600px;
min-width: 350px;
margin-top:5%;
}
.appName{
 //border: 2px dotted red;
 height: 75%; 
 max-height:360px;
 min-height: 255px;
 padding:0;
}
.loginBtn{
//something maybe
}
.loginPageBtns{
  height:100%;
  width:100%;
  max-height: 160px;
  min-width:160px;
  padding:0;
  border-radius:0;
  background-color: $secondary-color;
  border-color: $button-secondary-border-color;
  text-align: center; 
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
-moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
}
#loginText{
  line-height: 160px !important;
}
.fbLogin{
  //border: 2px dotted green;
  height: 180px;
}
.quickLogin{
  //border: 2px dotted black;
  height: 180px;
}

// OH ///

.firstOh{
//border: 1px solid black;
height: 700px;
width: 100%;
padding: 0;
}
.secondOh{
//border: 1px dotted pink;
height: 100%;
width: 100%;
padding: 0;
margin: 0;
// background-color: rgba(74, 191, 203,0.98);
// -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
// -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
// box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);

}

.optionsCol{
  margin-top: 0;
 //border: 5px dotted black;
  height: 100%; 
  max-height: 180px;
  width: 100%;
  padding-right:5px;
  padding-left: 0;
  //max-width: 485px;
}
.uPickBtn{
  line-height: 1.75 !important;
}

.ohBtns{
 // border: 1px dotted red;
 height: 100%; 
 width: 100%;
 border-radius:0;
 max-height: 180px;
  //max-width:160px;
   text-align: center; 
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
  line-height: 180px !important;
  background-color: $secondary-color;
  border-color: $button-secondary-border-color;
}

.placesDiv{
  //border: 2px dotted black;
  height: 85%;
  max-height:450px;
  min-height: 360px;
  padding: 0;
  margin-top: 25px;
}
.placesRowMargin{
  margin: 0;
}
.objDiv{
 // border: 2px dotted green;
  height: 100%;
  margin-top: 10px;
  //max-width: 485;
  //padding-left:0;
}
.placeObjDiv{
  //border: 2px dotted red;
  background-color: #eee;
  height: 180px;
  margin: 10px 0px 10px 0;
  padding:0;
   -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.62);
  position: relative;
}

.placesDataRow{
 // border: 1px dotted black;
  height: 100%;
  margin: 0;
}
.placesContentDiv{
  //border: 2px dotted blue;
  height:100%;
  //max-width: 485px;
}
.placesDetailsDiv{
  display: block;
  background-color: rgba(195, 195, 197, 0.5);
  height: 40%;
}
.placesNameDiv{
  //border: 1px dotted blue;
  height: 25%;
  width: 100%;
  max-width: 275px;
  max-height: 90px;
  min-height:90px;
  text-align: center;
}
.detailName{
  //border: 1px dotted red;
  height:100%;
  width:100%;
  margin-top: 10px;
  font-size: 30px !important;
  overflow: hidden;
}
.detailAddress{
  //border: 1px dotted yellow;
  font-size: 1em;
}
.detailNumber{
 font-size: 1em;
  //border: 1px dotted pink;
}
.detailWebsite{
  //border: 1px dotted green;
  font-size: 11px;
  overflow: hidden;
}

.placesRatingDiv{
  //border: 1px dotted green;
  height: 25%;
  padding:0;
}
.placesVicinityDiv{
  //border: 1px dotted yellow;
  height: 25%;
}
.large{
  width: 150px;
  height: 200px;
}
.formattedDiv{
  height:100%;
}