<div class="container-fluid" ng-controller="mainCtrl">
  <div class= "col-md-12 firstMain">
    <div class="row">
      <div class= "col-md-12 secondMain">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 idcDiv">
        <a class="mainPageBtns btn btn-primary omgButton" href="#oh">
          <h1 class="mainLineHt">IDC!!</h1>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ummDiv">
        <a class="mainPageBtns btn btn-primary howButton" href="#howBout">
         <h1 class="mainLineHt">UMM..</h1>
        </a>
      </div>
      </div> <!--second -->
    </div> <!--row -->
  </div><!--first -->
</div><!--container-fluid -->