<div class="container-fluid" ng-controller="ohCtrl">
  <div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12 firstOh">
    <div class="row">
      <div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12 secondOh">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 optionsCol">
              <a class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-primary ohBtns" ng-click="moreInfo()">
                <h3 data-fittext=".8" data-fittext-min="20" data-fittext-max="60">Shuffle</h3>
              </a>
          </div><!--optionsCol -->

           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placesDiv">
            <div class="row placesRowMargin">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mapDiv" ng-hide="true">
                <div id="map-canvas" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <!-- map -->
                </div>
              </div><!-- mapDiv -->
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 objDiv">   
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 slide-top" ng-model="numLimit"  ng-init="handleNearBySearchResults()" ng-repeat="detail in allDetails | limitTo:numLimit | orderBy:predicate:reverse"  ng-dblclick="remove(detail)">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeObjDiv">
                    <div class="row placesDataRow">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placesContentDiv">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placesNameDiv">
                              <h1 data-fittext=".8" data-fittext-min="16" data-fittext-max="25" class="detailName">{{detail.name}}</h1>
                            </div>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placesDetailsDiv">
                                <div class="row">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 formattedDiv">
                                    <p class="detailAddress">{{detail.formatted_address}}</p>
                                    <p class="detailNumber">{{detail.formatted_phone_number}}</p>
                                      <p class="detailWebsite"> {{detail.website}}</p>
                                  </div>
                                </div> <!--row div -->
                              </div>  <!--placesDetaildiv -->                          
                             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 placesRatingDiv pull-right">
                              <p data-fittext=".8" data-fittext-min="12" data-fittext-max="16">{{detail.rating}}</p>
                            </div>
                        </div>
                      </div> <!-- placesContentDiv-->
                    </div> <!-- placesDataRow-->
               </div>
                 </div> <!-- placeObjDiv-->
              
              </div>  <!-- objDiv-->

            </div> <!-- row -->
          </div><!-- placesDiv -->
              
              </div>  <!-- objDiv-->

            </div> <!-- row -->
          </div><!-- placesDiv -->
        </div><!--row -->
      </div> <!--secondOh -->
    </div> <!--row -->
  </div><!--firstOh -->
</div>