<div class="container" ng-controller="ohCtrl" ng-cloak>
  <div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12 firstOh">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 optionsCol">
        <a class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-primary ohBtns" ng-click="shuffle()">
          <h3 class="uPickBtn" data-fittext=".8" data-fittext-min="20" data-fittext-max="60">uPick</h3>
        </a>
      </div><!--optionsCol -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placesDiv">
          <div class="row placesRowMargin">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mapDiv" ng-hide="false">
              <div id="map-canvas" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <!-- map -->
              </div>
            </div><!-- mapDiv -->
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 objDiv bouncy-slide-down" ng-repeat="detail in allDetails" ng-click="markerOnMap(detail)"ng-dblclick="remove(detail)"> 
                <div class="row rowWidth"> 
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeObjDiv">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nameRating">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 titleDetail ">
                        <h3>{{detail.name}}</h3>
                      </div>
                      <div class="ratingDetail">
                        <h5>{{detail.rating}}</h5>
                      </div>
                          <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detailOpen">
                                          {{detail.open}}</div> -->
                      </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                              <p class="detailAddress"><span class="glyphicon glyphicon-map-marker"></span>{{detail.address}}</p>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 phoneDetail">
                                <p><span class="glyphicon glyphicon-phone-alt"></span>{{detail.phone_number}}</p>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 websiteDetail">
                                <span class="glyphicon glyphicon-globe"></span>
                                <a href="{{detail.website}}" target="_blank"> Visit the Website</a>
                              </div>
                          </div>
                           <!--  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <span class="glyphicon glyphicon-comment"></span><p>{{detail.review}}</p>
                            </div>  -->        
                        </div>  <!--placesDetaildiv -->    
                  </div> <!-- row-->
                </div> <!-- placeObjDiv-->
                </div> <!-- row-->
              </div>  <!-- objDiv-->
          </div> <!-- row -->
        </div><!-- placesDiv -->
    </div> <!--row -->
  </div><!--firstOh -->
</div>

               
                <!-- <div  id="repeat" class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bouncy-slide-down" ng-model="numLimit"  ng-init="handleNearBySearchResults()" ng-repeat="detail in allDetails | limitTo:numLimit | orderBy:predicate:reverse"  ng-click="markerOnMap(detail)"ng-dblclick="remove(detail)">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placeObjDiv">
                    <div class="row placesDataRow">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placesContentDiv">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placesNameDiv">
                              <h1 data-fittext=".8" data-fittext-min="16" data-fittext-max="45" class="detailName">
                                {{name}}</h1>
                            </div>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 placesDetailsDiv">
                                <div class="row">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 formattedDiv">
                                    <p class="detailAddress">{{detail.vicinity}}</p>
                                    <p class="detailNumber">{{detail.formatted_phone_number}}</p>
                                      <a class="detailWebsite" href="{{detail.website}}"> {{detail.website}}</a>
                                  </div>
                                </div> 
                              </div>  
                        </div> 
                      </div> 
                    </div>
                  </div> 
                </div>   -->