body {
  background: #fff;
  background-repeat: repeat;
  background-size: contain; }

.first {
  height: 100%;
  width: 100%; }

.second {
  background-color: rgba(74, 191, 203, 0.98);
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  height: 100%;
  max-height: 500px;
  max-width: 600px;
  min-width: 350px;
  margin-top: 5%; }

.appName {
  height: 75%;
  max-height: 360px;
  min-height: 255px;
  padding: 0; }

.loginPageBtns {
  height: 100%;
  width: 100%;
  max-height: 160px;
  min-width: 160px;
  padding: 0;
  border-radius: 0;
  background-color: #E1888A;
  border-color: #9E6063;
  text-align: center;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62); }

#loginText {
  line-height: 160px !important; }

.fbLogin {
  height: 180px; }

.quickLogin {
  height: 180px; }

.firstMain {
  height: 500px; }

.secondMain {
  height: 100%;
  width: 100%; }

.idcDiv, .ummDiv {
  margin-top: 10%;
  height: 100%;
  max-height: 300px; }

.mainPageBtns {
  height: 100%;
  width: 100%;
  max-height: 300px;
  min-width: 160px;
  padding: 0;
  border-radius: 0;
  text-align: center;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  line-height: 160px !important; }

.mainLineHt {
  margin: 0;
  line-height: 300px; }

.firstOh {
  height: 700px; }

.secondOh {
  height: 100%;
  width: 75%;
  margin-left: 12.5%; }

.optionsCol {
  margin-top: 50px;
  height: 15%;
  max-height: 160px;
  width: 100%;
  padding: 0; }

.ohLocalBtnDiv {
  padding-right: 5px;
  padding-left: 0;
  max-width: 485px; }

.ohPopBtnDiv {
  padding-right: 0;
  padding-left: 5px;
  max-width: 485px; }

.ohBtns {
  height: 100%;
  width: 100%;
  border-radius: 0;
  max-height: 160px;
  text-align: center;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  line-height: 160px !important; }

.placesDiv {
  height: 85%;
  max-height: 450px;
  min-height: 360px;
  padding: 0;
  margin-top: 25px; }

.placesRowMargin {
  margin: 0; }

.objDiv {
  height: 100%;
  margin-top: 10px; }

.placeObjDiv {
  background-color: #eee;
  height: 150px;
  margin: 5px 0px 5px 0;
  padding: 0; }

.mapDiv {
  height: 200px;
  margin-top: 5px; }

#map-canvas {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: -1px 2px 15px 0px #dddddd;
  -moz-box-shadow: -1px 2px 15px 0px #dddddd;
  box-shadow: -1px 2px 15px 0px #dddddd; }

.placesDataRow {
  height: 100%;
  margin: 0; }

.placesContentDiv {
  border: 2px dotted blue;
  height: 100%; }

.placesImgDiv {
  border: 1px dotted red;
  height: 100%; }

.placesOtherContentDiv {
  border: 2px dotted pink;
  height: 100%; }

.placesNameDiv {
  border: 1px dotted blue;
  height: 50%; }

.placesRatingDiv {
  border: 1px dotted green;
  height: 50%; }

.placesVicinityDiv {
  border: 1px dotted yellow;
  height: 50%; }

.firstHowBout {
  height: 100%;
  width: 100%; }

.secondHowBout {
  background-color: rgba(74, 191, 203, 0.98);
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  height: 100%;
  max-height: 500px;
  max-width: 600px;
  min-width: 350px;
  margin-top: 5%; }

.searchBarDiv {
  height: 100px;
  padding: 0; }

.searchBar {
  height: 100%;
  width: 100%; }

#map {
  border: 1px solid black;
  height: 100%;
  background-color: black; }

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  min-height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px; }

#pac-input:focus {
  border-color: #4d90fe; }

.pac-container {
  font-family: Roboto; }

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px; }

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300; }

/*# sourceMappingURL=main.css.map */
