/* ------------------------------------------- */
/* Mixins
/* ------------------------------------------- */
/* ------------------------------------------- */
/* Toggle Fade  
/* ------------------------------------------- */
.toggle {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .toggle.ng-enter {
    opacity: 0;
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms; }
  .toggle.ng-enter-active {
    opacity: 1; }
  .toggle.ng-leave {
    opacity: 1;
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms; }
  .toggle.ng-leave-active {
    opacity: 0; }
  .toggle.ng-hide-add {
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .toggle.ng-hide-add.ng-hide-add-active {
    opacity: 0; }
  .toggle.ng-hide-remove {
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .toggle.ng-hide-remove.ng-hide-remove-active {
    opacity: 1; }

/* ------------------------------------------- */
/* Bouncy Slide Down
/* ------------------------------------------- */
.bouncy-slide-down {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }
  .bouncy-slide-down.ng-enter {
    transform: translateY(-240px);
    -ms-transform: translateY(-240px);
    -webkit-transform: translateY(-240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .bouncy-slide-down.ng-enter-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }
  .bouncy-slide-down.ng-leave {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-down.ng-leave-active {
    transform: translateY(-240px);
    -ms-transform: translateY(-240px);
    -webkit-transform: translateY(-240px);
    opacity: 0; }
  .bouncy-slide-down.ng-hide-add {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-down.ng-hide-add.ng-hide-add-active {
    transform: translateY(-240px);
    -ms-transform: translateY(-240px);
    -webkit-transform: translateY(-240px);
    opacity: 0; }
  .bouncy-slide-down.ng-hide-remove {
    transform: translateY(-240px);
    -ms-transform: translateY(-240px);
    -webkit-transform: translateY(-240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .bouncy-slide-down.ng-hide-remove.ng-hide-remove-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Flip In 
/* ------------------------------------------- */
.flip-in {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .flip-in.ng-enter {
    transform: perspective(300px) rotateX(90deg);
    -ms-transform: perspective(300px) rotateX(90deg);
    -webkit-transform: perspective(300px) rotateX(90deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    opacity: 0.7; }
  .flip-in.ng-enter-active {
    transform: perspective(300px) rotateX(0deg);
    -ms-transform: perspective(300px) rotateX(0deg);
    -webkit-transform: perspective(300px) rotateX(0deg);
    opacity: 1; }
  .flip-in.ng-leave {
    transform: perspective(300px) rotateX(0deg);
    -ms-transform: perspective(300px) rotateX(0deg);
    -webkit-transform: perspective(300px) rotateX(0deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    opacity: 1; }
  .flip-in.ng-leave-active {
    transform: perspective(300px) rotateX(135deg);
    -ms-transform: perspective(300px) rotateX(135deg);
    -webkit-transform: perspective(300px) rotateX(135deg);
    opacity: 0.7; }
  .flip-in.ng-hide-add {
    transform: perspective(300px) rotateX(0deg);
    -ms-transform: perspective(300px) rotateX(0deg);
    -webkit-transform: perspective(300px) rotateX(0deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    opacity: 1; }
  .flip-in.ng-hide-add.ng-hide-add-active {
    transform: perspective(300px) rotateX(135deg);
    -ms-transform: perspective(300px) rotateX(135deg);
    -webkit-transform: perspective(300px) rotateX(135deg);
    opacity: 0; }
  .flip-in.ng-hide-remove {
    transform: perspective(300px) rotateX(90deg);
    -ms-transform: perspective(300px) rotateX(90deg);
    -webkit-transform: perspective(300px) rotateX(90deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    display: block !important;
    opacity: 0; }
  .flip-in.ng-hide-remove.ng-hide-remove-active {
    transform: perspective(300px) rotateX(0deg);
    -ms-transform: perspective(300px) rotateX(0deg);
    -webkit-transform: perspective(300px) rotateX(0deg);
    opacity: 1; }

.slide-top {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .slide-top.ng-enter {
    transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .slide-top.ng-enter-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }
  .slide-top.ng-leave {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-top.ng-leave-active {
    transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    opacity: 0; }
  .slide-top.ng-hide-add {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-top.ng-hide-add.ng-hide-add-active {
    transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    opacity: 0; }
  .slide-top.ng-hide-remove {
    transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .slide-top.ng-hide-remove.ng-hide-remove-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }

body {
  background: #fff;
  background-repeat: repeat;
  background-size: contain; }

.first {
  height: 100%;
  width: 100%; }

.second {
  background-color: rgba(74, 191, 203, 0.98);
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  height: 100%;
  max-height: 500px;
  max-width: 600px;
  min-width: 350px;
  margin-top: 5%; }

.appName {
  height: 75%;
  max-height: 360px;
  min-height: 255px;
  padding: 0; }

.loginPageBtns {
  height: 100%;
  width: 100%;
  max-height: 160px;
  min-width: 160px;
  padding: 0;
  border-radius: 0;
  background-color: #E1888A;
  border-color: #9E6063;
  text-align: center;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62); }

#loginText {
  line-height: 160px !important; }

.fbLogin {
  height: 180px; }

.quickLogin {
  height: 180px; }

.firstMain {
  height: 500px; }

.secondMain {
  height: 100%;
  width: 100%; }

.idcDiv, .ummDiv {
  margin-top: 10%;
  height: 100%;
  max-height: 300px; }

.mainPageBtns {
  height: 100%;
  width: 100%;
  max-height: 300px;
  min-width: 160px;
  padding: 0;
  border-radius: 0;
  text-align: center;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  line-height: 160px !important; }

.mainLineHt {
  margin: 0;
  line-height: 300px; }

.firstOh {
  height: 700px; }

.secondOh {
  height: 100%;
  width: 75%;
  margin-left: 12.5%; }

.optionsCol {
  margin-top: 50px;
  height: 15%;
  max-height: 160px;
  width: 100%;
  padding-right: 5px;
  padding-left: 0; }

.ohBtns {
  height: 100%;
  width: 100%;
  border-radius: 0;
  max-height: 160px;
  text-align: center;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  line-height: 160px !important; }

.placesDiv {
  height: 85%;
  max-height: 450px;
  min-height: 360px;
  padding: 0;
  margin-top: 25px; }

.placesRowMargin {
  margin: 0; }

.objDiv {
  height: 100%;
  margin-top: 10px; }

.placeObjDiv {
  background-color: #eee;
  height: 240px;
  margin: 10px 0px 10px 0;
  padding: 0;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  position: relative; }

.mapDiv {
  height: 100%;
  width: 100%;
  max-height: 180px;
  padding: 0;
  margin-top: 5px; }

#map-canvas {
  height: 100%;
  width: 100%;
  padding: 0; }

.placesDataRow {
  height: 100%;
  margin: 0; }

.placesContentDiv {
  height: 100%; }

.placesImgDiv {
  height: 100%; }

.placesOtherContentDiv {
  height: 100%; }

.placesNameDiv {
  height: 25%;
  max-height: 90px;
  min-height: 90px; }

.detailName {
  height: 100%;
  width: 100%;
  margin-top: 10px; }

.detailAddress {
  font-size: 11px; }

.detailNumber {
  font-size: 11px; }

.detailWebsite {
  font-size: 11px; }

.placesRatingDiv {
  height: 25%;
  padding: 0; }

.placesVicinityDiv {
  height: 25%; }

.large {
  width: 150px;
  height: 200px; }

.firstHowBout {
  height: 100%;
  width: 100%; }

.secondHowBout {
  background-color: rgba(74, 191, 203, 0.98);
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  height: 100%;
  max-height: 500px;
  max-width: 600px;
  min-width: 350px;
  margin-top: 5%; }

.searchBarDiv {
  height: 100px;
  padding: 0; }

.searchBar {
  height: 100%;
  width: 100%; }

#map {
  border: 1px solid black;
  height: 100%;
  background-color: black; }

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  min-height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }

.rating {
  font-size: 175%;
  padding: 0 0.5em; }

.rating > a {
  text-decoration: none; }

.rating .rating-highlight, .rating.rating-highlight:hover {
  color: #F4914E; }

.rating .rating-normal, .rating.rating-normal:hover {
  color: #3C3C3C; }

/*# sourceMappingURL=main.css.map */
