body {
  background: #fff;
  background-repeat: repeat;
  background-size: contain;
  height: 1200px; }

.first {
  height: 100%;
  width: 100%; }

.second {
  background-color: rgba(74, 191, 203, 0.98);
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  height: 100%;
  max-height: 500px;
  max-width: 600px;
  min-width: 350px;
  margin-top: 5%; }

.appName {
  height: 75%;
  max-height: 360px;
  min-height: 255px;
  padding: 0; }

.loginPageBtns {
  height: 100%;
  width: 100%;
  max-height: 160px;
  min-width: 160px;
  padding: 0;
  border-radius: 0;
  background-color: #E1888A;
  border-color: #9E6063;
  text-align: center;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62); }

#loginText {
  line-height: 160px !important; }

.fbLogin {
  height: 180px; }

.quickLogin {
  height: 180px; }

.firstMain {
  height: 500px; }

.secondMain {
  height: 100%;
  width: 100%; }

.idcDiv, .ummDiv {
  margin-top: 10%;
  height: 100%;
  max-height: 300px; }

.mainPageBtns {
  height: 100%;
  width: 100%;
  max-height: 300px;
  min-width: 160px;
  padding: 0;
  border-radius: 0;
  text-align: center;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  line-height: 160px !important; }

.mainLineHt {
  margin: 0;
  line-height: 300px; }

.container-fluid {
  height: 100%; }

.firstOh {
  height: 100%; }

.secondOh {
  height: 100%;
  min-height: 1500px;
  width: 75%;
  margin-left: 12.5%;
  background-color: rgba(74, 191, 203, 0.98);
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62); }

.optionsCol {
  margin-top: 0;
  height: 100%;
  max-height: 180px;
  width: 100%;
  padding-right: 0;
  padding-left: 0; }

.uPickBtn {
  line-height: 1 !important;
  font-size: 100px !important; }

.ohBtns {
  height: 100%;
  width: 100%;
  border-radius: 0;
  max-height: 160px;
  text-align: center;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  line-height: 160px !important;
  background-color: #E1888A;
  border-color: #9E6063; }

.placesDiv {
  height: 85%;
  max-height: 450px;
  min-height: 360px;
  padding: 0;
  margin-top: 25px; }

.placesRowMargin {
  margin: 0; }

.objDiv {
  height: 100%;
  margin-top: 10px; }

.placeObjDiv {
  background-color: #eee;
  height: 240px;
  margin: 10px 0px 10px 0;
  padding: 0;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  position: relative; }

.mapDiv {
  height: 100%;
  width: 100%;
  max-height: 180px;
  padding: 0;
  margin-top: 5px; }

#map-canvas {
  height: 100%;
  width: 100%;
  padding: 0; }

.placesDataRow {
  height: 100%;
  margin: 0; }

.placesContentDiv {
  height: 100%; }

.placesDetailsDiv {
  display: none; }

.placesNameDiv {
  height: 100%;
  width: 100%;
  max-height: 200px;
  max-width: 300px;
  min-height: 90px;
  padding: 5px; }

.detailName {
  height: 100%;
  width: 100%;
  margin-top: 10px;
  overflow-wrap: break-word; }

.detailAddress {
  font-size: 11px; }

.detailNumber {
  font-size: 11px; }

.detailWebsite {
  font-size: 11px;
  overflow-wrap: break-word; }

.placesRatingDiv {
  height: 25%;
  padding: 0; }

.placesVicinityDiv {
  height: 25%; }

.large {
  width: 150px;
  height: 200px; }

.firstHowBout {
  height: 100%;
  width: 100%; }

.secondHowBout {
  background-color: rgba(74, 191, 203, 0.98);
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.62);
  height: 100%;
  max-height: 500px;
  max-width: 600px;
  min-width: 350px;
  margin-top: 5%; }

.searchBarDiv {
  height: 100px;
  padding: 0; }

.searchBar {
  height: 100%;
  width: 100%; }

#map {
  border: 1px solid black;
  height: 100%;
  background-color: black; }

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  min-height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }

.rating {
  font-size: 175%;
  padding: 0 0.5em; }

.rating > a {
  text-decoration: none; }

.rating .rating-highlight, .rating.rating-highlight:hover {
  color: #F4914E; }

.rating .rating-normal, .rating.rating-normal:hover {
  color: #3C3C3C; }

/*# sourceMappingURL=main.css.map */
